In [36]:
import sqlite3
import pandas as pd
import numpy as np
import re

In [37]:
##Query unclean data scraped from Wikipedia
conn = sqlite3.connect('films.sqlite')
cur = conn.cursor()
df=pd.read_sql_query('SELECT * FROM Film',conn)

conn.close()

In [38]:
df['name']=df['name'].apply(lambda x:x[1:].split('/')[1])
df['name']=df['name'].apply(lambda x:x.replace('_',' '))
import ast
df['data_a']=df['data'].apply(lambda x:ast.literal_eval(x))
decom=df['data_a'].apply(pd.Series)
decom=decom[['Directed by', 'Written by', 'Produced by', 'Starring',
       'Cinematography', 'Edited by', 'Music by', 'Release date',
       'Running time', 'Country','Language','Productioncompanies','Distributed by','Budget','Box office','Productioncompany']]
decom['Productioncompanies'] = decom['Productioncompanies'].fillna(decom.pop('Productioncompany'))

In [39]:
## wanted to get data that has budget boc office figures.  

decom=decom[(decom['Budget'].isna()==False)&(decom['Box office'].isna()==False)]
df=pd.merge(decom,df,left_index=True, right_index=True)

In [ ]:
from datetime import datetime
from dateutil import parser

def clean_date(str_):
    str_=str(str_)
    if re.search(r'(\d{4}-\d{2}-\d{2})', str_) != None:
        date=re.search(r'(\d{4}-\d{2}-\d{2})', str_).group(1)
        try:
            date=parser.parse(date)
            date=date.strftime("%Y-%m-%d")
        except:
            pass
        return date 
    elif re.search(r'(\d{4}-\d{2})', str_) != None:
        date=re.search(r'(\d{4}-\d{2})', str_).group(1)
        try:
            date=parser.parse(date)
            date=date.strftime("%Y-%m-%d")
        except:
            date='N/A'
        return date
   
    elif str_== 'N/A':
        return str_
    else:
        try:
            date=parser.parse(date)
            date=date.strftime("%Y-%m-%d")
        except:
            date='N/A'
        return date

In [ ]:
def time_clean(time):
    try:
        time=str(time)
        time=time.lower()
    except:
        pass
    try:
        time=time.split()
    except:
        pass
    minute_vari=['minutes','mins','min','mins.']
    hour_vari=['h','hour','hours','hours.']
    if len(time)>1:
    
        if (len(time)==2) and (time[1] in minute_vari):
            return time[0]
        elif (time[1] in hour_vari) and (len(time)==4):
            try:
                time=int(time[0])*60 + int(time[2])
                return time
            except:
                time=='N/A'
                return time
        elif (len(time)>2) and (time[1] in minute_vari) and(any(time for item2 in hour_vari)!=True):
            return time[0]
        else:
            return 'N/A'

In [ ]:
def currency_clean(str_):
    str_=str(str_)
    str_=str_.lower()
    str_=str_.strip()
    if len(str_.split('['))>1:
        str_=str_.split('[')[0]
        
    
    if ',' in str_:
        str_=str_.replace(',','')
    
    if (re.search(r'\d\.\d\smillion',str_)!= None):
        str_=str_.replace(' ','')
        str_=str_.replace('.','')
        str_=str_.replace('million','00000')
    
    if (re.search(r'\d\smillion',str_)!= None) or(re.search(r'\d\d\smillion',str_)!= None) or(re.search(r'\d\d\d\smillion',str_)!= None) :
        str_=str_.replace(' ','')
        str_=str_.replace('.','')
        str_=str_.replace('million','000000')
    
    if len(str_.split('('))>1:
        str_=str_.split('(')[0]
    
    
    if re.search('[^0-9\$\.]',str_)!=None:
        return 'N/A'
    try:
        str_=re.findall(r'\$.+',str_)
        return str_[0]
    except:
        return str_

In [ ]:
film_table['Running time'].fillna('N/A',inplace=True)
film_table['Running time']=film_table['Running time'].apply(time_clean)

In [ ]:
film_table['Running time'].fillna('N/A',inplace=True)
film_table['Running time']=film_table['Running time'].apply(clean_date)

In [ ]:
film_table['Running time'].fillna('N/A',inplace=True)
film_table['Running time']=film_table['Running time'].apply(currency_clean)

In [40]:
## function that forces string to have common delim for split.

def common_delim(str_):
    if str_.find(',')>-1:
        return str_
    elif len(re.split(r'\S[A-Z]',str_))>1:
        split_list=[]
        i_s=0
        for i_e in re.finditer(r'\S[A-Z]',str_):
            split_list.append(str_[i_s:i_e.start()+1])
            i_s=len(str_[:i_e.start()+1])
            i_e=i_e.start()+1
        split_list.append(str_[i_e:len(str_)])
        return split_list
    elif len(re.findall(r'[A-Z]\S+\s[A-Z]\S+\s|[A-Z]\S+\s[A-Z]\S+',str_))>1:
        multiple_names=re.findall(r'[A-Z]\S+\s[A-Z]\S+\s|[A-Z]\S+\s[A-Z]\S+',str_)
        return multiple_names
    else:
        return str_

In [41]:
## function that creates film_xx connection table and unique look up table stored both in dictionary.

def lookup_idtable(col,c):
    output={}
    decom[col]=decom[col].apply(lambda x:str(x))
    decom[col]=decom[col].apply(common_delim)
    decom[col]=decom[col].apply(lambda x:str(x))
    table=decom[col].str.split(',',expand=True)

    ## cleans strings from the new df
    ## creates a df of unique values 

    for i in list(range(0,len(table.columns))):    
        table[i]=table[i].apply(lambda x:re.sub('\W+',' ', str(x) ))
        table[i]=table[i].apply(lambda x:x.strip())

    b_=[]
    for i in list(range(0,len(table.columns))):
        b_.extend(list(table[table[i]!='None'].iloc[:][i]))
    
    b_lis=pd.Series(b_)
    b_lookup=pd.DataFrame(b_lis.unique())
    b_lookup.reset_index(inplace=True)
    b_lookup.columns=['id',c]
    
    output['lookup']=b_lookup
    ##intermediate df in prep for 
    inter_df=table.join(df)
    cols=list(range(0,len(table.columns)))
    cols.append('name')
    inter_df=inter_df[cols]

    ## Creates a df of every combination of director and film for the CONNECTOR table

    film_b=pd.DataFrame()
    count=0
    for index, row in inter_df.iterrows():
        df_i=pd.DataFrame(row[(row!='None')]).iloc[:-1]
        df_i['film']=row[(row!='None')].iloc[-1]
        df_i.columns=[[c,'film']]
        film_b=pd.concat([film_b,df_i])
        count=count+1
        if (count % 10000)==0:
        
            print(count)
    film_b.reset_index(inplace=True)
    film_b.drop(['index'],axis=1,inplace=True)
    film_b.columns=[c,'film']

    film_b_id= pd.merge(left=film_b, right=film_table,on='film',how='left' )
    film_b_id=pd.merge(left=film_b_id, right=b_lookup,on=c,how='left' )
    film_b_id=film_b_id[['id_x','id_y']]
    film_b_id.reset_index(inplace=True)
    film_b_id.columns=['unique_id','film_id',c+'_id']
    output['id']=film_b_id
    return output

In [42]:
film_table= df[['name','id']]
film_table.columns=['film','id']

In [43]:
dict_names=['Directors','Writers','Producers','Actors','Editors','composers','Productioncompanies','distributors']
list_a=['Directed by','Written by','Produced by','Starring','Edited by','Music by','Productioncompanies','Distributed by']
list_c=['Director','Writer','Producer','Actor','Editor','composer','Productioncompany','distributor']

In [44]:
output={}
zipped_list=list(zip(dict_names,list_a,list_c))
for table,col,id_name in zipped_list:
    inter_dict=lookup_idtable(col,id_name)
    output[table]=inter_dict
    print(table)

10000

C:\Users\Conor\anaconda3\lib\site-packages\pandas\core\generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

Directors
10000
Writers
10000
Producers
10000
Actors
10000
Editors
10000
composers
10000
Productioncompanies
10000
distributors

In [46]:
df.drop(['data','data_a'],axis=1,inplace=True)

In [49]:
film_table=df
film_table=film_table[['name','id','Release date','Running time','Country','Language','Budget','Box office']]
film_table

,name,id,Release date,Running time,Country,Language,Budget,Box office
1,Zero (2018 film),2,"[December21,2018(2018-12-21) (India)[3]]",164 minutes,India,Hindi,₹200 crore (US$26 million),₹191 crore (US$25 million)
3,Zero Dark Thirty,4,NaN,157 minutes,United States,English,$40-52.5 million[3][4],$132.8 million
4,Zero Day (2003 film),5,"[September3,2003(2003-09-03)]",1 hour 32 minutes,United States,English,"$20,000","$8,466"
5,Zero Effect,6,"[January30,1998(1998-01-30)]",116 minutes,United States,English,$5 million,$2 million (US)
13,One Hundred and One Dalmatians,14,"[January25,1961(1961-01-25)]",79 minutes,United States,English,$3.6 million,$303 million
...,...,...,...,...,...,...,...,...
50766,Reckless (1935 film),65175,"[April19,1935(1935-04-19)]",97 minutes,United States,English,"$858,000","$1,339,000"
50769,Blade Runner,65178,"[June25,1982(1982-06-25)]",117 minutes,NaN,English,$30 million,$41.6 million
50774,Dancing Lady,65183,"[November24,1933(1933-11-24)]",92 minutes,United States,English,"$923,000",$2.4 million
50775,The Dark Horse (2014 film),65184,[17July2014(2014-07-17) (New Zealand)],125 minutes,New Zealand,English,$2.1 million,$1.9 million
50779,Billy Madison,65188,"February 10, 1995 (1995-02-10)",89 minutes,United States,English,$10 million,$26.4 million

In [50]:
conn = sqlite3.connect('clean_film_data.sqlite')
cur = conn.cursor()
zipped_list_b=list(zip(list_c,dict_names))
for name_,names in zipped_list_b:
    cur.executescript('''
    DROP TABLE IF EXISTS '''+names+''';
    CREATE TABLE'''+' '+ names+''' (
    id     INTEGER NOT NULL PRIMARY KEY UNIQUE,
    '''+name_+'''   TEXT UNIQUE
    );
    ''')
#insert df's into SQL DB
    for index, row in output[names]['lookup'].iterrows():
        cur.execute("INSERT INTO"+" "+names+"  (id,"+name_+") VALUES (?,?)",(row))
    conn.commit()
cur.close()

In [51]:
sqlite3.register_adapter(np.int64, int)
conn = sqlite3.connect('clean_film_data.sqlite')
cur = conn.cursor()
zipped_list_b=list(zip(list_c,dict_names))
for name_,names in zipped_list_b:
    cur.executescript('''
    DROP TABLE IF EXISTS '''+names+'''_film_id;
    CREATE TABLE'''+' '+ names+'''_film_id (
    unique_id     INTEGER NOT NULL PRIMARY KEY UNIQUE,
    film_id       INTEGER NOT NULL,
    '''+name_+'''_id  INTEGER NOT NULL
    );
    ''')
#insert df's into SQL DB
    for index, row in output[names]['id'].iterrows():
        
        cur.execute("INSERT INTO"+" "+names+"_film_id (unique_id,film_id,"+name_+"_id) VALUES (?,?,?)",(row))
    conn.commit()
cur.close()

C:\Users\Conor\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\Conor\AppData\Local\Temp/ipykernel_19988/637059072.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  film_table['Release date']=film_table['Release date'].apply(clean_date)

In [55]:
film_table['Running time'].fillna('N/A',inplace=True)
film_table['Running time']=film_table['Running time'].apply(time_clean)

C:\Users\Conor\AppData\Local\Temp/ipykernel_19988/3026048073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  film_table['Running time']=film_table['Running time'].apply(time_clean)

In [57]:
film_table['Country'].fillna('N/A',inplace=True)
film_table['Language'].fillna('N/A',inplace=True)
film_table['Budget'].fillna('N/A',inplace=True)
film_table['Box office'].fillna('N/A',inplace=True)
film_table['Budget']=film_table['Budget'].apply(currency_clean)
film_table['Box office']=film_table['Box office'].apply(currency_clean)

C:\Users\Conor\AppData\Local\Temp/ipykernel_19988/3484908968.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  film_table['Budget']=film_table['Budget'].apply(currency_clean)
C:\Users\Conor\AppData\Local\Temp/ipykernel_19988/3484908968.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  film_table['Box office']=film_table['Box office'].apply(currency_clean)

In [58]:
for col in list(film_table.columns[2:]):
    film_table[col]=film_table[col].apply(lambda x:str(x))

C:\Users\Conor\AppData\Local\Temp/ipykernel_19988/4256853150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  film_table[col]=film_table[col].apply(lambda x:str(x))

In [493]:
conn = sqlite3.connect('clean_film_data.sqlite')
cur = conn.cursor()

cur.executescript('''
DROP TABLE IF EXISTS film_table;
CREATE TABLE film_table (
film   TEXT NOT NULL,
id     INTEGER NOT NULL PRIMARY KEY UNIQUE,
release_date TEXT,
running_time_mins TEXT,
country TEXT,
language TEXT,
budget TEXT,
box_office TEXT


    );
    ''')
#insert df's into SQL DB
for index, row in film_table.iterrows():
    cur.execute("INSERT INTO film_table (film, id, release_date, running_time_mins, country, language,budget, box_office) VALUES (?,?,?,?,?,?,?,?)",(row))
conn.commit()
cur.close()

In [59]:
film_table

,name,id,Release date,Running time,Country,Language,Budget,Box office
1,Zero (2018 film),2,2018-12-21,164,India,Hindi,N/A,N/A
3,Zero Dark Thirty,4,N/A,157,United States,English,N/A,$132800000
4,Zero Day (2003 film),5,2003-09-03,92,United States,English,$20000,$8466
5,Zero Effect,6,1998-01-30,116,United States,English,$5000000,$2000000
13,One Hundred and One Dalmatians,14,1961-01-25,79,United States,English,$3600000,$303000000
...,...,...,...,...,...,...,...,...
50766,Reckless (1935 film),65175,1935-04-19,97,United States,English,$858000,$1339000
50769,Blade Runner,65178,1982-06-25,117,N/A,English,N/A,N/A
50774,Dancing Lady,65183,1933-11-24,92,United States,English,$923000,$2400000
50775,The Dark Horse (2014 film),65184,2014-07-17,125,New Zealand,English,$2100000,$1900000
50779,Billy Madison,65188,1995-02-10,89,United States,English,$10000000,$26400000